#header-main-content {
  position: relative;
}

#header-main-content .header-titleContainer a {
  display: inline-block;
  margin-top: 25px;
}
#header-main-content .header-titleContainer {
  margin: 0;
  /*position: absolute;*/
  margin-top: 4vw;
  margin-left: 13.5vw;
  /*left: calc(17.5vw - 20px); top: 0;*/
  width: 40vw;
  text-align: left;
}
#header-main-content .header-titleContainer .headerWrapper {
  width: 30vw;
  text-align: left;
  margin-bottom: 20px;
}
#header-main-content .header-titleContainer .main-headerTitle {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

#header-main-content .header-titleContainer .sub-headerTitle {
  text-align: left;
}

#signup-container {
  position: absolute;
  right: 15vw;
  top: 5vw;
  background-color: #f9f9f9;
  width: 25vw;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}
#signup-container .signupHeader {
  display: block;
  font-size: 30px;
  color: #338cd1;
  line-height: 30px;
  margin-bottom: 15px;
}

#signup-container .inputSplit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#signup-container .inputSplit .inputContainer {
  width: 48%;
  display: inline-flex;
}

#signup-container .inputContainer:focus::placeholder {
  color: #fff;
}
#signup-container .inputContainer:focus {
  background-color: #338cd1;
  color: #fff;
}
#signup-container .inputContainer {
  width: 100%;
  margin-bottom: 20px;
  background-color: #ececec;

  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.signup-forgot {
  margin-left: 5px;
  color: grey;
  font-weight: bold;
}

#slot-machine-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.slot-machine-wrapper {
  position: relative;
  display: inline-block;
  min-height: 50px;
  width: 100%;
}
#slot-machine-container .cara-text.cara-active {
  display: block;
  top: 0;
  left: 0;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
#slot-machine-container .cara-text {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: auto;
  transform: translateY(-15px);
  visibility: hidden;
  opacity: 0;
  font-size: 50px;
  color: #fff;
  line-height: 40px;

  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/* Main Content Container */
#contentContainer {
  position: relative;
}

.privacy-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;

  background: linear-gradient(transparent, #f9f9f9);
  -moz-background: linear-gradient(transparent, #f9f9f9);
  -webkit-background: linear-gradient(transparent, #f9f9f9);
  -ms-background: linear-gradient(transparent, #f9f9f9);
  -o-background: linear-gradient(transparent, #f9f9f9);
}
.privacy-overlay .btn {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.contentHeader {
  text-align: center;
  margin-bottom: 20px;
}
.contentHeader .header {
  display: block;
  font-size: 40px;
  color: #338cd1;
  line-height: 40px;
}
.contentHeader .sub-header {
  font-size: 20px;
  font-family: "Muli";
}

.blog-container {
  /* display: flex; */
  /* justify-content: space-between; */
  width: 100%;
  height: 20vw;
  /* background: red; */
  overflow: hidden;
  white-space: nowrap;
  text-align: justify;
}
.blog-container a {
  position: relative;
  display: inline-block;
  margin: 0 10px 10px 10px;
  vertical-align: top;
  /* width: 300px; height: 300px; */
}

.blog-container.blog-item:hover {
  height: calc(10px);
}
.blog-item {
  position: relative;
  background-color: #fff;
  /* width: 290px; height: 290px; */
  width: 20vw;
  height: 20vw;
  margin-right: 10px;
  text-align: left;
  white-space: normal;
}

.blog-img {
  position: relative;
}

.blog-img img {
  position: absolute;
  left: 0;
  top: 0;
}

.blog-details {
  display: block;
  width: 100%;
  padding: 10px 20px 0 20px;
  box-sizing: border-box;
  font-size: 20px;
  color: #529cc7;

  margin: 0 auto;
  /* width: 290px; */
}
