/* Big Header */
.main-filterSlider {
  position: relative;
}

.main-filterSlider .main-filterSlider-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.main-filter.active-type {
  background-color: #338cd1;
}
.main-filter.active-type .main-filter-header .filter-title {
  color: #f3f3f3;
}
.main-filter.active-type .main-filter-header .filter-area {
  color: #f3f3f394;
}

.main-filter.active-type .main-filter-body .filter-info {
  border-top: 1px solid #f3f3f394;
}
.main-filter.active-type .main-filter-body .filter-info .active-users {
  color: #f3f3f3;
}

.main-filter.shad {
  box-shadow: 4px 8px 6px 0 #29292973;
}
.main-filter {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  background-color: #f3f3f3;
  perspective: 40px;

  /*width: 20vw; height: 45vh;*/
  /*height: 385px; height: 470px;*/
  width: 320px;
  height: 405px;
  margin: 0 10px;

  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.perspectiveContainer {
}
.main-filter .main-filter-lt {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main-filter .main-filter-header > * {
  display: block;
}
.main-filter .main-filter-header {
  text-align: center;
  padding: 5px 0;
  box-sizing: border-box;
}
.main-filter .main-filter-header .filter-title {
  font-size: 30px;
  color: #338cd1;
}
.main-filter .main-filter-header .filter-area {
  font-size: 18px;
  color: #338cd194;
}

.main-filter-body {
  padding: 10px 30px;
  box-sizing: border-box;
  text-align: center;
  flex: 1;
  /*background-color: red;*/
}
.main-filter-body .type-promo-img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  /*border: 1px solid blue;*/
  /*background-color: yellow;*/
}
.main-filter-body .filter-info {
  border-top: 1px solid #338cd1;
  margin-top: 10px;
  padding: 10px 0;
}

.main-filter-body .filter-info .usr-avatars {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
.main-filter-body .filter-info .usr-avatars .circ-container:nth-child(2) {
  left: 15px;
}
.main-filter-body .filter-info .usr-avatars .circ-container:nth-child(3) {
  left: 30px;
}
.main-filter-body .filter-info .usr-avatars .circ-container {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.main-filter-body .filter-info .active-users {
  display: inline-block;
  width: 180px;
  text-align: left;
  padding: 0 0 0 5px;
  font-size: 14px;
  color: #338cd1;
  box-sizing: border-box;
}

/* Width under 1320px */
@media only screen and (max-width: 1320px) {
  #app-header {
    width: 90vw;
    padding: 10px 0;
  }
  .IN-logo {
    margin-right: 2vw;
  }
  .IN-logo .IN-title {
    font-size: 22px;
    line-height: 18px;
  }
}

/* Width under 800px */
@media only screen and (max-width: 800px) {
  #app-header {
    width: 90vw;
    padding: 10px 0;
    flex-direction: column;
  }
  #user-nav {
    justify-content: space-between;
  }
  .g-1 {
    padding: 10px 0;
  }
  .g-2 {
    padding: 10px 0;
  }
  .user-btn.shad {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .user-btn:hover {
    color: #f3f3f3;
    font-weight: normal;
    border: none;
  }
  .user-btn {
    padding: 0;
    margin: 0;
    height: 60px;
    margin-right: 30px;
  }
  .home-search {
    flex: 1;
  }
  .nav-g {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .inputContainer.text {
    flex: 1;
  }
}
